header,main,nav,footer{

    margin-bottom:18px;
    }
    header{background-color:chartreuse ;padding:30px;}

    main,nav1,nav2{
    padding:60px;
     }
    
    h4{color:black;
    font-style:bold;}
    p1{color:rgb(4, 0, 255);
    }
p{color:red;
font-style: italic ;
font-weight: bold;}


    .parent>main{
    width :70%;
    background-color:white;
    }
    .parent>nav1{
    width:20%;
    background-color : palegoldenrod;
    
    }
    
    .parent>nav2{
    width:20%;
    background-color :lightblue;
    }
    footer{background-color:chartreuse;}
    


    h1{ color:pink;
    background:tomato;}
    


    p2{color:white;
    background-color: orangered;}
    .parent{
    display:flex;
    flex-wrap=wrap;
    
    }
    a{color:purple}
    