header,main,nav,footer{

margin-bottom:18px;
}
header{background-color:green}
main,nav1,nav2{
hight:20px;
color:red;
background-color:green;

}

h2{color:black;
front-style:bold;}
p1{color:blue;
}
.parent>main{
width :60%;
background-color:white;
}
.parent>nav1{
width:20%;
background-color:grey;

}

.parent>nav2{
width:20%;
background-color:blue;
}
footer{
color:pink;
background:tomato;
background-color:green;}
h1{
front-weight:bold;}

.parent{
display:table;
flex-wrap=wrap;

}

